<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="attendance">
      <h2 data-cy="attendanceDetailsHeading"><span jhiTranslate="smartHrApp.attendance.detail.title">Attendance</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ attendance.id }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.attendance.deviceInfo">Device Info</span></dt>
        <dd>
          <span>{{ attendance.deviceInfo }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.attendance.latitude">Latitude</span></dt>
        <dd>
          <span>{{ attendance.latitude }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.attendance.longitude">Longitude</span></dt>
        <dd>
          <span>{{ attendance.longitude }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.attendance.date">Date</span></dt>
        <dd>
          <span>{{ attendance.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.attendance.day">Day</span></dt>
        <dd>
          <span>{{ attendance.day }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.attendance.hours">Hours</span></dt>
        <dd>
          <span>{{ attendance.hours }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.attendance.employeeId">Employee Id</span></dt>
        <dd>
          <span>{{ attendance.employeeId }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.attendance.companyId">Company Id</span></dt>
        <dd>
          <span>{{ attendance.companyId }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.attendance.status">Status</span></dt>
        <dd>
          <span>{{ attendance.status }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.attendance.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ attendance.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.attendance.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ attendance.lastModifiedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/attendance', attendance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
