<div>
  <h2 id="page-heading" data-cy="TimeSheetHeading">
    <span jhiTranslate="smartHrApp.timeSheet.home.title">Time Sheets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smartHrApp.timeSheet.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-time-sheet"
        [routerLink]="['/time-sheet/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smartHrApp.timeSheet.home.createLabel"> Create a new Time Sheet </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="timeSheets?.length === 0">
    <span jhiTranslate="smartHrApp.timeSheet.home.notFound">No Time Sheets found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="timeSheets && timeSheets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="checkIn">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.timeSheet.checkIn">Check In</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="checkOut">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.timeSheet.checkOut">Check Out</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.timeSheet.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hasCheckedIn">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.timeSheet.hasCheckedIn">Has Checked In</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="companyId">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.timeSheet.companyId">Company Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.timeSheet.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.timeSheet.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.timeSheet.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="attendance.id">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.timeSheet.attendance">Attendance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timeSheet of timeSheets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/time-sheet', timeSheet.id, 'view']">{{ timeSheet.id }}</a>
          </td>
          <td>{{ timeSheet.checkIn | formatMediumDatetime }}</td>
          <td>{{ timeSheet.checkOut | formatMediumDatetime }}</td>
          <td>{{ timeSheet.date | formatMediumDatetime }}</td>
          <td>{{ timeSheet.hasCheckedIn }}</td>
          <td>{{ timeSheet.companyId }}</td>
          <td>{{ timeSheet.status }}</td>
          <td>{{ timeSheet.lastModified | formatMediumDatetime }}</td>
          <td>{{ timeSheet.lastModifiedBy }}</td>
          <td>
            <div *ngIf="timeSheet.attendance">
              <a [routerLink]="['/attendance', timeSheet.attendance.id, 'view']">{{ timeSheet.attendance.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/time-sheet', timeSheet.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/time-sheet', timeSheet.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(timeSheet)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="timeSheets && timeSheets.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
