<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="workinDaysSetting">
      <h2 data-cy="workinDaysSettingDetailsHeading">
        <span jhiTranslate="smartHrApp.workinDaysSetting.detail.title">Workin Days Setting</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ workinDaysSetting.id }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.workinDaysSetting.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ workinDaysSetting.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.workinDaysSetting.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ workinDaysSetting.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.workinDaysSetting.status">Status</span></dt>
        <dd>
          <span>{{ workinDaysSetting.status }}</span>
        </dd>
        <dt><span jhiTranslate="smartHrApp.workinDaysSetting.companyId">Company Id</span></dt>
        <dd>
          <span>{{ workinDaysSetting.companyId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/workin-days-setting', workinDaysSetting.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
