<div>
  <h2 id="page-heading" data-cy="AttendanceHeading">
    <span jhiTranslate="smartHrApp.attendance.home.title">Attendances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smartHrApp.attendance.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-attendance"
        [routerLink]="['/attendance/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smartHrApp.attendance.home.createLabel"> Create a new Attendance </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="attendances?.length === 0">
    <span jhiTranslate="smartHrApp.attendance.home.notFound">No Attendances found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="attendances && attendances.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deviceInfo">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.attendance.deviceInfo">Device Info</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="latitude">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.attendance.latitude">Latitude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="longitude">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.attendance.longitude">Longitude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.attendance.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="day">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.attendance.day">Day</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hours">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.attendance.hours">Hours</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="employeeId">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.attendance.employeeId">Employee Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="companyId">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.attendance.companyId">Company Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.attendance.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.attendance.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="smartHrApp.attendance.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attendance of attendances; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/attendance', attendance.id, 'view']">{{ attendance.id }}</a>
          </td>
          <td>{{ attendance.deviceInfo }}</td>
          <td>{{ attendance.latitude }}</td>
          <td>{{ attendance.longitude }}</td>
          <td>{{ attendance.date | formatMediumDatetime }}</td>
          <td>{{ attendance.day }}</td>
          <td>{{ attendance.hours }}</td>
          <td>{{ attendance.employeeId }}</td>
          <td>{{ attendance.companyId }}</td>
          <td>{{ attendance.status }}</td>
          <td>{{ attendance.lastModified | formatMediumDatetime }}</td>
          <td>{{ attendance.lastModifiedBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/attendance', attendance.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/attendance', attendance.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(attendance)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="attendances && attendances.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
